<MudPaper MaxWidth="1600px" Square="true">
    <MudStack Row AlignItems="AlignItems.Center" Spacing="4" Class="px-4 py-2">
        <MudStack Class="pb-2">
            <MudStack Row AlignItems="AlignItems.Center">
                <MudIconButton Icon="@GetPlayIcon()"
                               Color="Color.Primary"
                               Size="Size.Large"
                               OnClick="@TogglePlayPause"
                               Disabled="!IsLoaded"/>
                @if (IsLoaded)
                {
                    <MudIconButton Icon="Icons.Material.Filled.Stop"
                                   Color="Color.Secondary"
                                   OnClick="@Stop"
                                   Disabled="!IsLoaded"/>    
                }
            </MudStack>
            <MudText Typo="Typo.body2" Class="font-monospace deepdrft-audio-time">
                @FormatTime(CurrentTime) / @FormatTime(Duration)
            </MudText>
        </MudStack>

        <MudSlider T="double"
                   Min="0"
                   Max="@Duration"
                   Step="0.1"
                   Value="@CurrentTime"
                   ValueChanged="@OnSeek"
                   Disabled="!IsLoaded"
                   Class="deepdrft-audio-slider-seek"/>

        <div class="deepdrft-audio-controls">
            <MudIcon Icon="@GetVolumeIcon()" Class="deepdrft-audio-volume-icon"/>
            <MudSlider T="double"
                       Min="0"
                       Max="1"
                       Step="0.01"
                       Value="@Volume"
                       ValueChanged="@OnVolumeChange"
                       Class="deepdrft-audio-slider"/>
        </div>
    </MudStack>
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <MudAlert Severity="Severity.Error" ShowCloseIcon="true" CloseIconClicked="ClearError">
            @ErrorMessage
        </MudAlert>
    }
</MudPaper>
